
src/.ipynb_checkpoints/plot-checkpoint.ipynb
src/__pycache__/widgets.cpython-310.pyc
.idea/EMAStrategy.iml
.idea/EMAStrategy.iml
.idea/EMAStrategy.iml
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/backtesting.dir/link.txt
cmake-build-debug/CMakeFiles/backtesting.dir/flags.make
cmake-build-debug/CMakeFiles/backtesting.dir/build.make
cmake-build-debug/CMakeCache.txt
cmake-build-debug/backtesting.cbp
cmake-build-debug/.cmake/api/v1/reply/target-backtesting-Debug-a6bf234816031cdba32a.json
cmake-build-debug/.cmake/api/v1/reply/target-backtesting-Debug-2633c7705846a3f16462.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-08-25T07-37-43-0478.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-08-25T07-36-33-0867.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-3ae013790d7a87db88a8.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0c58f9d5cb5baecd1220.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-d3f93035334a45d9abb2.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-83721ea3083844809320.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-48f77210dd5f2f5d0c6a.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-23b762984eb1fe0ca927.json
cmake-build-debug-coverage/CMakeFiles/Makefile.cmake
cmake-build-debug-coverage/CMakeFiles/backtesting.dir/src/main.cpp.o.d
cmake-build-debug-coverage/CMakeFiles/backtesting.dir/link.txt
cmake-build-debug-coverage/CMakeFiles/backtesting.dir/flags.make
cmake-build-debug-coverage/CMakeFiles/backtesting.dir/compiler_depend.make
cmake-build-debug-coverage/CMakeFiles/backtesting.dir/compiler_depend.internal
cmake-build-debug-coverage/CMakeFiles/backtesting.dir/build.make
cmake-build-debug-coverage/CMakeCache.txt
cmake-build-debug-coverage/backtesting.cbp
cmake-build-debug-coverage/backtesting
cmake-build-debug-coverage/.cmake/api/v1/reply/target-backtesting-Debug-a6bf234816031cdba32a.json
cmake-build-debug-coverage/.cmake/api/v1/reply/target-backtesting-Debug-2633c7705846a3f16462.json
cmake-build-debug-coverage/.cmake/api/v1/reply/index-2022-08-25T07-37-43-0481.json
cmake-build-debug-coverage/.cmake/api/v1/reply/index-2022-08-25T07-36-33-0875.json
cmake-build-debug-coverage/.cmake/api/v1/reply/codemodel-v2-7c5fe73dc655d4638181.json
cmake-build-debug-coverage/.cmake/api/v1/reply/codemodel-v2-615117f51caea115753b.json
cmake-build-debug-coverage/.cmake/api/v1/reply/cmakeFiles-v1-b72a0bfe96cc59473bf6.json
cmake-build-debug-coverage/.cmake/api/v1/reply/cmakeFiles-v1-66aa2ddf06d75b3c04fb.json
cmake-build-debug-coverage/.cmake/api/v1/reply/cache-v2-db0a8432de0d06737661.json
cmake-build-debug-coverage/.cmake/api/v1/reply/cache-v2-7cd6d9470a40c1966361.json
CMakeLists.txt
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/backtesting.dir/link.txt
cmake-build-debug/CMakeFiles/backtesting.dir/flags.make
cmake-build-debug/CMakeFiles/backtesting.dir/build.make
cmake-build-debug/CMakeCache.txt
cmake-build-debug/backtesting.cbp
cmake-build-debug/.cmake/api/v1/reply/target-backtesting-Debug-2633c7705846a3f16462.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-08-25T07-36-33-0867.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0c58f9d5cb5baecd1220.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-d3f93035334a45d9abb2.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-23b762984eb1fe0ca927.json
cmake-build-debug-coverage/CMakeFiles/Makefile.cmake
cmake-build-debug-coverage/CMakeFiles/backtesting.dir/src/main.cpp.o.d
cmake-build-debug-coverage/CMakeFiles/backtesting.dir/link.txt
cmake-build-debug-coverage/CMakeFiles/backtesting.dir/flags.make
cmake-build-debug-coverage/CMakeFiles/backtesting.dir/compiler_depend.make
cmake-build-debug-coverage/CMakeFiles/backtesting.dir/build.make
cmake-build-debug-coverage/CMakeCache.txt
cmake-build-debug-coverage/backtesting.cbp
cmake-build-debug-coverage/backtesting
cmake-build-debug-coverage/.cmake/api/v1/reply/target-backtesting-Debug-2633c7705846a3f16462.json
cmake-build-debug-coverage/.cmake/api/v1/reply/index-2022-08-25T07-36-33-0875.json
cmake-build-debug-coverage/.cmake/api/v1/reply/codemodel-v2-615117f51caea115753b.json
cmake-build-debug-coverage/.cmake/api/v1/reply/cmakeFiles-v1-66aa2ddf06d75b3c04fb.json
cmake-build-debug-coverage/.cmake/api/v1/reply/cache-v2-7cd6d9470a40c1966361.json
*.cmake
*.cbp
