src/.ipynb_checkpoints/plot-checkpoint.ipynb
src/__pycache__/widgets.cpython-310.pyc
.idea/
cmake-build-debug/
cmake-build-debug-coverage/
src/data/in/ohlcv-eth-usdt-1-min_.csv
src/data/in/ohlcv-eth-usdt-1-min.csv
src/data/in/ohlcv-ltc-usdt-1-min.csv
src/data/in/ohlcv-xrp-usdt-1-min.csv
